<html>
<head><title>Welcome to CentOS7 </title> </head>
<body>
<h1> Welcome to {{ ansible_hostname }} </h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FqkEEX0QEDM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>
